.vs
.vscode
.DS_Store

/recovery
/BeefSpace_User.toml

/Build/x64
/Build/obj
/Build/bin
/Build/Debug
/Build/Release
/Build/Debug_Win64
/Build/Release_Win64

/ThirdParty/Mojo/Build/x64
/ThirdParty/Mojo/Build/obj
/ThirdParty/Mojo/Build/bin
/ThirdParty/Mojo/Build/Debug
/ThirdParty/Mojo/Build/Release